# Path to log file (default: no log file)
logfile: ''
# Format for log file
logfile-format: ''
# Print debugging information
debug: false
# Print tracing information, including the observed ETW events (Warning: Very verbose)
trace: false
# Don't log matches to the Windows event log
no-eventlog: false
# Windows Event Log that should be logged to
eventlog-target: Application
# Format for logs sent to the Eventlog
eventlog-format: ''
# Write output as JSON instead of plain text
json: false
# Path to the directory containing the Aurora Agent license
license-path: C:\Program Files\Aurora-Agent
# Send logs to this UDP Address (as host:port)
udp-target: '{{ ludus_aurora_udp_target }}'
# Format for logs sent via UDP
udp-format: '{{ ludus_aurora_udp_format }}'
# Send logs to this TCP Address (as host:port)
tcp-target: ''
# Format for logs sent via TCP
tcp-format: ''
# Don't print any logs
silent: false
# CPU usage (as percentage) that the Aurora Agent should use at most
cpu-limit: 35
# Log a message about the current agent status regularly
report-stats: false
# Interval between status messages when --report-stats is enabled
report-stats-interval: 1h
# Include more details in --report-stats messages, such as received events per channel
report-stats-verbose: false
# How many top event producing processes should be logged
top-event-producer-count: 0
# Interval between messages about top event producing processes
top-event-producer-interval: 1h
# How many log rotations should be retained
log-rotate: 7
# Maximum file size for the log file. It will be rotated once it exceeds this size.
log-size: 10MB
# Set a different name for the service, the binary and other identifiers
agent-name: aurora-agent
# Activate the given deactivated modules (see --module-info for a list of all modules)
activate-module: []
# Deactivate the given modules (see --module-info for a list of all modules)
deactivate-module: []
# Disable logging to the standard output
no-stdout: true
# Run Aurora Agent with low process priority (can cause missed events under high load)
low-prio: false
# Minimum average time between log messages (Warning: If set, it can cause Aurora Agent to drop messages if many matches occur!)
output-throttling: "0"
# Start a server with debugging information on port 8080
pprof: false
# Print the Event ID that Aurora assigns when logging to the Eventlog as part of each message
print-event-id: false
# Deactivate all consumers, except for those specified by --activate-module
deactivate-all-consumers: false
# Path to a file containing false positive regexes (one per line)
false-positive-filter: C:\Program Files\Aurora-Agent\config\false-positives.cfg
# Generate a unique ID for this execution and print it with every log message
scan-id: false
# Send only the status messages to ASGARD, no matches
quiet: false
# Start a helper program that informs about Aurora status and matches
dashboard: {{ ludus_aurora_dashboard }}
# On install, upgrade to the dev version
dev: false
# Execute responses that are specified in Sigma rules (e.g. to kill a process)
activate-responses: false
# Folder where process dumps should be stored
dump-folder: C:\Program Files\Aurora-Agent\process-dumps
# Minimum average time between matches. Sigma Rules with responses will ignore this setting.
match-throttling: 1m
# Number of matches for a single rule that are allowed to exceed the throttling for a short time (see --match-throttling)
match-burst: 5
# Maximum time used to scan an event for a single IOC
scan-timeout: 1s
# Folders containing IOC files
ioc-path:
    - C:\Program Files\Aurora-Agent\signatures\iocs
    - C:\Program Files\Aurora-Agent\custom-signatures
# Report Sigma matches with rules of this level or higher (possible values: informational, low, medium, high, critical)
minimum-level: medium
# Folders containing the Sigma files
rules-path:
    - C:\Program Files\Aurora-Agent\signatures\sigma-rules
    - C:\Program Files\Aurora-Agent\custom-signatures
# Files containing responses for Sigma rules
response-set: []
# Paths to the Sigma log sources that should be loaded
log-source:
    - C:\Program Files\Aurora-Agent\log-sources\event-log-sources.yml
    - C:\Program Files\Aurora-Agent\log-sources\etw-log-sources-standard.yml
    - C:\Program Files\Aurora-Agent\log-sources\etw-log-source-mappings.yml
# Automatically reload the Sigma rules after changes
auto-reload: false
# Paths to file containing the information on which events IOCs should be applied
ioc-config:
    - C:\Program Files\Aurora-Agent\ioc-configs\ioc-config-standard.yml
# Deactivate calculations that rely on disk access (e.g. hash calculation for executables and DLLs)
no-content-enrichment: false
# Path to a file containing process exclusion regexes (one per line)
process-excludes: C:\Program Files\Aurora-Agent\config\process-excludes.cfg
# Path to a file where all events will be logged. Warning: This may cause high disk usage.
audit-log: ''
# Ignore events (by source, event ID and process) that use more processing time (as a percentage of total processing time) than this threshold. Set to 0 to disable automatic exclusion.
automatic-exclusion-threshold: 20
