[Unit]
Description=Caldera service
After=multi-user.target

[Service]
User=root
Type=simple
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/opt/caldera
ExecStart=/opt/caldera/venv/bin/python3 /opt/caldera/server.py
ExecReload=/bin/kill -HUP $MAINPIDKill
Mode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target